<a href="https://colab.research.google.com/github/emartinmorgan/FF_NFL_Project/blob/main/FF_Ch4_PythonCrashCourse.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 4 - Python Crash Course Recap

##Built in Methods

###String Methods

In [ ]:
#Built in methods
#string methods
#split method
play_description = 'Lamar Jackson left end for 10 yards'
#split this string into a list
play_description.split(' ') #splits everything based on white space, like text to columns

['Lamar', 'Jackson', 'left', 'end', 'for', '10', 'yards']

In [ ]:
first_name = play_description.split()[0]
first_name
last_name = play_description.split()[1]

In [ ]:
full_name = first_name + ' ' + last_name
full_name

'Lamar Jackson'

In [ ]:
#string methods
#format method
play_description2 = '{} {} left end for 10 yards'
#curly braces allow us to put data into the string after the fact

In [ ]:
# play_description2.format()
# #this won't work until something is entered into the curly brackets

In [ ]:
play_description2 = '{first_name} {last_name} left end for 10 yards'
play_description2.format(first_name = 'Russell', last_name = 'Wilson')

'Russell Wilson left end for 10 yards'

In [ ]:
play_description3 = '{} {} left end for 10 yards'
play_description3.format('Russell','Wilson')

'Russell Wilson left end for 10 yards'

In [ ]:
#string methods
#format method - f strings
first_name = 'Lamar'
last_name = 'Jackson'
yards = 40
play_description4 = f'{first_name} {last_name} left end for {yards + 10} yards'

play_description4
#new feature where we don't have to use the .format() method, more convenient
#part of python 3.6 and above
#embed variables and expressions (like math - see use of yards)

'Lamar Jackson left end for 50 yards'

In [ ]:
#string methods
#join method - opposite of split method
' '.join(['Lamar', 'Jackson'])
#starts with the white space (or whatever you choose) that will be in between
#the joined strings
#join takes a list in the function, the list is everything being joined
#good for joining a large amount of strings

'Lamar Jackson'

In [ ]:
#same as below, and easier when number of strings increases
'Lamar' + ' ' + 'Jackson'

'Lamar Jackson'

### Dictionary Methods

In [ ]:
#Built in methods
#dictionary methods - manipulate dictionaries in various ways
fantasy_data = {
    'player_name': 'Kenneth Walker',
    'rushing_yards': 1050
}
fantasy_data

{'player_name': 'Kenneth Walker', 'rushing_yards': 1050}

In [ ]:
fantasy_data['rushing_touchdowns'] = 9
#appended an item to an existing dictionary

fantasy_data

{'player_name': 'Kenneth Walker',
 'rushing_yards': 1050,
 'rushing_touchdowns': 9}

In [ ]:
fantasy_data['rushing_yards'] = 1300
#alter existing data in dictionary
fantasy_data

{'player_name': 'Kenneth Walker',
 'rushing_yards': 1300,
 'rushing_touchdowns': 9}

In [ ]:
#dictionary methods
#get

player = {
    'name': 'Justin Jefferson',
    'catches': 128
}
#syntax to grab # catches from dataframe/dictionary
#reference dictionary, pass in key value within brackets, output variable
catches = player['catches']
catches

#what if you don't know/remember the contents of the dicitonary?

128

In [ ]:
if 'catches' in player:
  print('Key catches exisits within player')
#checks to see if key exists within dictionary

Key catches exisits within player

In [ ]:
# #if we check for a key that does not exist in dict, we get a key error
# player['targets']

KeyError: ignored

In [ ]:
player.get('catches')
#pass in key value as arguement in get()

In [ ]:
player.get('targets')
#no output since targets doesn't exist, sidestepping key error
# can also add second argument if key does not exist
player.get('targets',0)
#if key does not exist, return 0

In [ ]:
player.get('catches',0)

In [ ]:
#dictionary methods
#items method - great for iterating over dictionary

#lists are great for iterating, dictionaries are not iterable by default
#but items allows us to iterate

player = {
    'name': 'Justin Jefferson',
    'catches': 128
}
player.items()

#we just called the items method on player
#transforms player dict into a 'dict_items' which is iterable

In [ ]:
for k, v in player.items():
  print(k,': ',v)

#we are now 'unpacking' the dict_items
#each item is a 'tupple'

#tupple = two items that are encapsulated by parentheses and separated by comma

#we now have a list of tupples to iterate over
#iterate over tupple by using twp place holder values (k and v) in the for loop
#k and v are an abstraction of what we're interating over; key and value

#this is 'unpacking'

name :  Justin Jefferson
catches :  128

In [ ]:
#a tupple data type will return
1,2

(1, 2)

In [ ]:
player2 = {
    'name': 'Justin Jefferson',
    'catches': 128,
    'yards': 1100
}
player2.items()

dict_items([('name', 'Justin Jefferson'), ('catches', 128), ('yards', 1100)])

In [ ]:
#for key, value in player2.items():
for k, v in player2.items():
  print(k,': ',v)

name :  Justin Jefferson
catches :  128
yards :  1100

### List Methods

In [ ]:
#list methods
#append method
our_list = [1,2,3]
our_list.append(4)
our_list
#our list has been modified - it is mutable

[1, 2, 3, 4]

In [ ]:
redzone_yardlines = []
for yardline in range(1,21):
  redzone_yardlines.append(yardline)

redzone_yardlines
#range is built in function, that takes in start, stop, step
#we iterate over the range,  appending yardlines in the range

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
#list comprehensions - more concise way of formatting previous exampel
redzone_yardlines = [yardline for yardline in range (1,21)]
redzone_yardlines
#format = [expression for item in iterable]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
redzone_yardlines = [yardline *2 for yardline in range (1,21)]
redzone_yardlines
#list comprehensions are useful with less complex list creation and iterating

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [ ]:
players = [{
    'name': 'Justin Jefferson',
    'catches': 128,
    'yds': 1809,
    'td':8
}, {
    'name': 'Tyreek Hill',
    'catches': 119,
    'yds': 1553,
    'td':11
}]

fantasy_points = []
for player in players:
  points_scored = player.get('catches',0) + player.get('yds',0)*0.1 + player.get('td',0)*6
  fantasy_points.append(points_scored)

fantasy_points

[356.9, 340.3]

In [ ]:
sum(fantasy_points) / len(fantasy_points)

348.6

In [ ]:
#it would be better if we took the above and made it a function
def calc_fantasy_points(player):
  points_scored = player.get('catches',0) + player.get('yds',0)*0.1 + player.get('td',0)*6
  return points_scored

calc_fantasy_points(players[0])

356.9

In [ ]:
fantasy_points = [calc_fantasy_points(player) for player in players]
fantasy_points[0]

356.9

In [ ]:
fantasy_points[1]

340.3

In [ ]:
sum(fantasy_points)/len(fantasy_points)

348.6

### Anonymous functions

In [ ]:
#remember - functions can take in any python objects, including other functions
#anonymous functions - writing function on the fly without defining it,
#and still giving it a name
catches = [10,15,34,23]
def divide_by_two(x):
  return x/2

#map() allows us to take in iterable, and map other function over the iterable
# instead of for catch in catches, divide by 2, we can map() to pass function over the iterable

half_ppr_values = map(divide_by_two, catches)

half_ppr_values

#this alone isn't useful, have to convert this result to a list.
#map returns an iterable, but it's not viewable

list(half_ppr_values)

#but this is such a simple function that it can be written by an anonymous funciton

[5.0, 7.5, 17.0, 11.5]

In [ ]:
half_ppr_values2 = map(lambda x: x/2, catches)
list(half_ppr_values2)
# x is the arguement, and the first thing after colon is return value
#after comma is the list/iterable that function passes over

[5.0, 7.5, 17.0, 11.5]

### While Loops

In [ ]:
# #continues to run the indented block until it evaluates to false
# i = 0
# while i <=6:
#   print(i)
#   #this never evaluates to false, and goes on forever

In [ ]:
#prints 0 first, but then adds 1. Now prints 1, then adds 1. Now prints 2...etc  up to 6
i = 0
while i <=6:
  print(i)
  #this will eventually go over 6
  i = i +1

0
1
2
3
4
5
6

### Zip function

In [ ]:
#zip() allows us to zip/package together two iterables into iterable of key values
player_names = ['Christian McCaffery', 'Austin Ekeler', 'Rhamondre Stevenon']
receptions = [85,107,69]
zip(player_names, receptions)

In [ ]:
#create dicitonary of two lists
dict(zip(player_names, receptions))

{'Christian McCaffery': 85, 'Austin Ekeler': 107, 'Rhamondre Stevenon': 69}

In [ ]:
#save this to variable
player_receptions = dict(zip(player_names, receptions))
player_receptions

{'Christian McCaffery': 85, 'Austin Ekeler': 107, 'Rhamondre Stevenon': 69}

In [ ]:
#now use a for loop to iterate over player and catches
for player,catches in player_receptions.items():
  print(player + f' had {catches} in the 2022 season')

Christian McCaffery had 85 in the 2022 season
Austin Ekeler had 107 in the 2022 season
Rhamondre Stevenon had 69 in the 2022 season